# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# env.local
AUTH_SECRET=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

EVOLUTION_API_URL=
EVOLUTION_API_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AUTHENTICATION_API_KEY=

DATABASE_ENABLED=
DATABASE_PROVIDER=
DATABASE_CONNECTION_URI=
DATABASE_CONNECTION_CLIENT_NAME=
CONFIG_SESSION_PHONE_VERSION=

DATABASE_SAVE_DATA_INSTANCE=
DATABASE_SAVE_DATA_NEW_MESSAGE=
DATABASE_SAVE_MESSAGE_UPDATE=
DATABASE_SAVE_DATA_CONTACTS=
DATABASE_SAVE_DATA_CHATS=
DATABASE_SAVE_DATA_LABELS=
DATABASE_SAVE_DATA_HISTORIC=

CACHE_REDIS_ENABLED=
CACHE_REDIS_URI=
CACHE_REDIS_PREFIX_KEY=
CACHE_REDIS_SAVE_INSTANCES=

CACHE_LOCAL_ENABLED=